@import url(https://fonts.googleapis.com/css?family=Poppins:regular,500,600&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Poppins";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Poppins";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 75rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header__container {
  position: relative;
  z-index: 3;
}

.header__content {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3.875rem 0rem;
  gap: 8.1875rem;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.5rem;
}

.list__item {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #121212;
}

.list__item:hover {
  opacity: 0.4;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.icon-menu {
  display: none;
}

.footer {
  background: #EEEEEE;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5rem;
  padding-bottom: 2.6875rem;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
  margin-left: 15.9375rem;
}

.footer__product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
  margin-left: 7.875rem;
}

.footer__follow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 10.0625rem;
}

.footer__copyright {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6rem;
  color: rgba(18, 18, 18, 0.6);
  margin-top: 5rem;
}

.desc-bl__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6rem;
  margin-top: 1.75rem;
  color: #666666;
}

.desc-bl__email img {
  width: 24px;
  height: 24px;
}

.desc-bl__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6rem;
  color: #666666;
  margin-top: 1.25rem;
}

.desc-bl__location img {
  width: 24px;
  height: 24px;
}

.title {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.6875rem;
  color: #121212;
}

.menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.menu-list__item {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #121212;
  opacity: 0.6;
}

.follow-bl__items {
  margin-top: 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}

.main-block__container {
  position: relative;
  z-index: 2;
}

.main-block__content {
  margin-top: 14.6875rem;
}

.main-block__title {
  max-width: 29.3125rem;
  font-weight: 600;
  font-size: 49.6px;
  line-height: 4.2rem;
}

.main-block__text {
  max-width: 24.9375rem;
  margin-top: 1rem;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5rem;
  color: #666666;
}

.main-block__actions {
  margin-top: 2.0625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.5rem;
}

.main-block__img {
  position: absolute;
  top: 0;
  right: 0;
}

.main-block__another-img {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-block__another-img img {
  width: 100%;
  height: 100%;
}

.orange__main-title {
  color: #FF6428;
}

.actions-block__button {
  padding: 1.125rem 3rem;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5rem;
  color: white;
  background: #FF6428;
  border-radius: 2.5rem;
}

.actions-block__button:hover {
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
  background: #c54d1e;
}

.actions-block__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.735rem;
}

.icons-actions__item1 {
  width: 1.6325rem;
  height: 1.821875rem;
  background: url("../img/play-market-main.svg") 0 0 no-repeat;
}

.icons-actions__item2 {
  width: 1.6325rem;
  height: 2.069375rem;
  background: url("../img/appla-play-main.svg") 0 0 no-repeat;
}

.check-block__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 7.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.check-block__title {
  font-weight: 600;
  font-size: 2.75rem;
  line-height: 3.3rem;
  color: #121212;
}

.check-block .check-red {
  color: #FF6428;
}

.catalog-block {
  margin-top: 5.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.catalog-block__name {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.875rem;
  letter-spacing: 8%;
  color: #121212;
}

.ctlg2 {
  margin-top: 6rem;
}

.items-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.375rem;
  margin-top: 2rem;
}

.items-list a:hover {
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.1);
}

.card-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card-item__img {
  width: 100%;
  height: 100%;
}

.card-item__img img {
  width: 100%;
  height: 100%;
}

.card-item__name {
  margin-top: 2.5rem;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #121212;
}

.card-item__price {
  margin-top: 0.4375rem;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.3125rem;
  color: #666666;
}

.choose-block__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 18.75rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.choose-block__title {
  font-weight: 600;
  font-size: 2.75rem;
  line-height: 3.3rem;
  color: #000000;
  text-align: center;
}

.choose-block__categories {
  margin-top: 5rem;
}

.red-choose {
  color: #FF6428;
}

.categories-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 4.375rem;
}

.categories-block__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.875rem;
  color: #ffffff;
  padding-top: 13.75rem;
  padding-bottom: 1.875rem;
  border-radius: 1.25rem;
  width: 13.75rem;
  height: 17.5rem;
}

.choose-img {
  position: absolute;
  top: 0;
  left: 0;
}

.choose-text {
  position: relative;
  z-index: 5;
}

.featuring-block__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 13.75rem;
  padding-bottom: 11.25rem;
}

.featuring-block__title {
  font-weight: 600;
  font-size: 2.75rem;
  line-height: 3.3rem;
  text-align: center;
  color: #000000;
}

.featuring-orange {
  color: #FF6428;
}

.elements-block {
  margin-top: 4.6875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 7.30125rem;
}

.elements-block__box1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.elements-block__box2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.why-block {
  background: #121212;
}

.why-block__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5.8125rem;
  padding-bottom: 5.875rem;
}

.why-block__title {
  font-weight: 600;
  font-size: 2.75rem;
  line-height: 3.3rem;
  color: #ffffff;
  text-align: center;
}

.why-block__desc {
  margin-top: 4.6875rem;
}

.why-orange {
  color: #ff6428;
}

.desc-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 13.75rem;
}

.desc-block__panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 14.375rem;
}

.panel-desc__title {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.6875rem;
  letter-spacing: 8%;
  margin-top: 2.5rem;
  color: #ffffff;
}

.panel-desc__text {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.3125rem;
  text-align: center;
  color: #666666;
  margin-top: 0.75rem;
}

.previews-block__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}

.previews-block__title {
  font-weight: 600;
  font-size: 2.75rem;
  line-height: 3.3rem;
  color: #000000;
  text-align: center;
}

.previews-block__swiper {
  margin-top: 6.8125rem;
  max-width: 67.3225rem;
  margin-right: 1.615rem;
}

.previews-orange {
  color: #FF6428;
}

.swiper-previews__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 0.885rem;
  margin-bottom: 1.5625rem;
}

.swiper-previews__pagination .swiper-pagination-bullet {
  background: #c4c4c4;
  border-radius: 1.25rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 0.625rem;
          flex: 0 0 0.625rem;
  height: 1rem;
  opacity: 1;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.swiper-previews__pagination .swiper-pagination-bullet-active {
  background: #FF6428;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.5rem;
          flex: 0 0 1.5rem;
  max-height: 0.75rem;
  position: relative;
  top: 0.125rem;
}

.swiper-previews-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 9.135rem;
}

.slide-swiper-previews__body {
  max-width: 32.75rem;
}

.slide-swiper-previews__text {
  font-weight: 400;
  font-size: 1.375rem;
  line-height: 2.4rem;
  color: #666666;
  text-align: left;
}

.slide-swiper-previews__text p {
  margin-bottom: 0.625rem;
}

.slide-swiper-previews__author {
  margin-top: 3.5rem;
}

.slide-swiper-previews__name {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2.4rem;
  color: #000000;
}

.slide-swiper-previews__position {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.8rem;
  color: #868686;
  letter-spacing: 8%;
  margin-top: 0.5rem;
}

.browse-block__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 7.5rem 0rem;
}

.browse-block__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 0.875rem;
}

.browse-block__title {
  max-width: 30.25rem;
  font-weight: 600;
  font-size: 2.75rem;
  line-height: 4.2rem;
  color: #000000;
  margin-bottom: 3.75rem;
}

.browse-block__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.9375rem;
}

.browse-orange {
  color: #FF6428;
}

@media (min-width: 42.0625em) {
  .check-block {
    position: relative;
    top: 7.5rem;
  }
}

@media (min-width: 76.875em) {
  .header__content {
    padding-top: 3.875rem;
  }

  .header__content {
    padding-bottom: 3.875rem;
  }

  .header__content {
    gap: 8.1875rem;
  }

  .menu__list {
    gap: 3.5rem;
  }

  .footer__container {
    padding-top: 5rem;
  }

  .footer__container {
    padding-bottom: 2.6875rem;
  }

  .footer__page {
    margin-left: 15.9375rem;
  }

  .footer__product {
    margin-left: 7.875rem;
  }

  .footer__follow {
    margin-left: 10.0625rem;
  }

  .footer__copyright {
    margin-top: 5rem;
  }

  .main-block__content {
    margin-top: 14.6875rem;
  }

  .check-block__content {
    padding-top: 7.5rem;
  }

  .check-block__title {
    font-size: 2.75rem;
  }

  .catalog-block {
    margin-top: 5.375rem;
  }

  .catalog-block__name {
    font-size: 1.25rem;
  }

  .choose-block__title {
    font-size: 2.75rem;
  }

  .choose-block__categories {
    margin-top: 5rem;
  }

  .featuring-block__content {
    padding-top: 13.75rem;
  }

  .featuring-block__content {
    padding-bottom: 11.25rem;
  }

  .featuring-block__title {
    font-size: 2.75rem;
  }

  .elements-block {
    margin-top: 4.6875rem;
  }

  .elements-block {
    gap: 7.30125rem;
  }

  .elements-block__box1 {
    gap: 10rem;
  }

  .elements-block__box2 {
    gap: 10rem;
  }

  .why-block__title {
    font-size: 2.75rem;
  }

  .previews-block__content {
    padding-top: 7.5rem;
  }

  .previews-block__content {
    padding-bottom: 7.5rem;
  }

  .previews-block__title {
    font-size: 2.75rem;
  }

  .swiper-previews-slide {
    gap: 9.135rem;
  }

  .slide-swiper-previews__text {
    font-size: 1.375rem;
  }

  .slide-swiper-previews__name {
    font-size: 1.5rem;
  }

  .slide-swiper-previews__position {
    font-size: 1.125rem;
  }

  .browse-block__content {
    padding-top: 7.5rem;
  }

  .browse-block__content {
    padding-bottom: 7.5rem;
  }

  .browse-block__title {
    font-size: 2.75rem;
  }

  .browse-block__title {
    line-height: 4.2rem;
  }

  .browse-block__title {
    margin-bottom: 3.75rem;
  }

  .browse-block__actions img {
    width: 12.0625rem;
  }

  .browse-block__actions img {
    height: 3.5625rem;
  }
}

@media (min-width: 50em) and (min-width: 76.875em) {
  .desc-block {
    gap: 13.75rem;
  }
}

@media (max-width: 50em) {
  .desc-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 5.75rem;
  }
}

@media (max-width: 42em) {
  .main-block__text {
    color: #666666;
  }

  .main-block__img img {
    display: none;
  }

  .main-block__another-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .icons-actions__item1 {
    width: 1.6325rem;
    height: 1.821875rem;
    background: url("../img/play-market-main.svg") 0 0 no-repeat;
  }

  .icons-actions__item2 {
    width: 1.6325rem;
    height: 2.069375rem;
    background: url("../img/appla-play-main.svg") 0 0 no-repeat;
  }

  .choose-block__content {
    padding-top: 11.25rem;
  }
}

@media (max-width: 42em) and (max-width: 20em) {
  .choose-block__content {
    padding-top: 4.375rem;
  }
}

@media (max-width: 25em) {
  .footer__product {
    margin-left: 0rem;
  }
}

@media (max-width: 20em) {
  .header__content {
    padding-top: 2rem;
  }

  .header__content {
    padding-bottom: 2rem;
  }

  .header__content {
    gap: 4.375rem;
  }

  .menu__list {
    gap: 1.25rem;
  }

  .footer__container {
    padding-top: 3.125rem;
  }

  .footer__container {
    padding-bottom: 1.4375rem;
  }

  .footer__page {
    margin-left: 0.0000000625rem;
  }

  .footer__product {
    margin-left: 0.0000000625rem;
  }

  .footer__follow {
    margin-left: 0.0000000625rem;
  }

  .footer__copyright {
    margin-top: 3.125rem;
  }

  .main-block__content {
    margin-top: 7.5rem;
  }

  .check-block__content {
    padding-top: 3.75rem;
  }

  .check-block__title {
    font-size: 1.6875rem;
  }

  .catalog-block {
    margin-top: 2.5rem;
  }

  .catalog-block__name {
    font-size: 1.0625rem;
  }

  .choose-block__title {
    font-size: 1.875rem;
  }

  .choose-block__categories {
    margin-top: 1.875rem;
  }

  .featuring-block__content {
    padding-top: 6.25rem;
  }

  .featuring-block__content {
    padding-bottom: 5rem;
  }

  .featuring-block__title {
    font-size: 2.1875rem;
  }

  .elements-block {
    margin-top: 1.875rem;
  }

  .elements-block {
    gap: 0.625rem;
  }

  .elements-block__box1 {
    gap: 3.75rem;
  }

  .elements-block__box2 {
    gap: 3.75rem;
  }

  .why-block__title {
    font-size: 2.0625rem;
  }

  .previews-block__content {
    padding-top: 4.375rem;
  }

  .previews-block__content {
    padding-bottom: 4.375rem;
  }

  .previews-block__title {
    font-size: 2.25rem;
  }

  .swiper-previews-slide {
    gap: 1.875rem;
  }

  .slide-swiper-previews__text {
    font-size: 1.125rem;
  }

  .slide-swiper-previews__name {
    font-size: 1.375rem;
  }

  .slide-swiper-previews__position {
    font-size: 1rem;
  }

  .browse-block__content {
    padding-top: 0.0000000625rem;
  }

  .browse-block__content {
    padding-bottom: 0.0000000625rem;
  }

  .browse-block__title {
    font-size: 2.0625rem;
  }

  .browse-block__title {
    line-height: 3.1375rem;
  }

  .browse-block__title {
    margin-bottom: 1.875rem;
  }

  .browse-block__actions img {
    width: 6.4375rem;
  }

  .browse-block__actions img {
    height: 2.9375rem;
  }
}

@media (max-width: 86.25em) {
  .main-block__text {
    color: black;
  }

  .main-block__img img {
    opacity: 0.65;
  }
}

@media (max-width: 76.875em) {
  .catalog-block {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .items-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 72.5em) {
  .browse-block__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding-top: 0rem;
    padding-bottom: 4.375rem;
  }
}

@media (max-width: 69.9375em) {
  .categories-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 68.125em) {
  .previews-block__swiper {
    max-width: 100%;
  }

  .swiper-previews__pagination {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 0rem;
    margin-right: 0rem;
    margin-left: 13.75rem;
  }

  .swiper-previews-slide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 68.125em) and (max-width: 20em) {
  .previews-block__swiper {
    margin-top: 2.5rem;
  }

  .slide-swiper-previews__author {
    margin-top: 1.625rem;
  }
}

@media (max-width: 64.375em) {
  .elements-block {
    max-width: 35.625rem;
  }
}

@media (max-width: 61.25em) {
  .footer__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 89%;
  }

  .footer__follow {
    margin-left: 0rem;
    margin-top: 2.5rem;
  }
}

@media (max-width: 58.125em) {
  .icons-actions__item1 {
    background: url("../img/play-market-bl.svg") 0 0 no-repeat;
  }

  .icons-actions__item2 {
    background: url("../img/Apple-play-bl.svg") 0 0 no-repeat;
  }
}

@media (max-width: 41.25em) {
  .footer__content {
    max-width: 100%;
  }
}

@media (max-width: 38.75em) and (max-width: 20em) {
  .browse-block__image img {
    width: 20rem;
  }

  .browse-block__image img {
    height: 24.375rem;
  }
}

@media (max-width: 33.75em) {
  .footer__content {
    max-width: 70%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 3.125rem;
  }

  .footer__page {
    margin-left: 0rem;
  }

  .footer__follow {
    margin-top: 0rem;
  }
}

@media (max-width: 33.8125em) and (max-width: 20em) {
  .swiper-previews__pagination {
    margin-left: 9.375rem;
  }
}

@media (max-width: 33.75em) and (max-width: 20em) {
  .slide-swiper-previews__image img {
    width: 20.625rem;
  }

  .slide-swiper-previews__image img {
    height: 14.375rem;
  }
}

@media (max-width: 31.25em) {
  .header__content {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .header__logo {
    z-index: 10;
  }

  .header__menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    padding-top: 9.375rem;
    overflow: auto;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .menu-open .header__menu {
    left: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 4.375rem;
  }

  .list__item {
    font-size: 2.1875rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    right: 2.8125rem;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .main-block__title {
    font-size: 2.5rem;
    line-height: 3.125rem;
  }
}

@media (max-width: 29.99875em) {
  .browse-block__actions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 26.875em) {
  .swiper-previews__pagination {
    padding: 0;
    margin: 0;
    margin-top: 3.125rem;
  }
}

@media (max-width: 25.625em) {
  .main-block__title {
    font-size: 1.875rem;
    line-height: 2.5rem;
  }

  .actions-block__button {
    padding: 0.8125rem 2.6875rem;
  }
}

@media (max-width: 24.375em) {
  .footer__content {
    max-width: 99%;
  }
}

@media (max-width: 23.75em) {
  .footer__content {
    max-width: 100%;
  }
}

@media (max-width: 21.875em) {
  .main-block__actions {
    gap: 2.1875rem;
  }

  .actions-block__icons {
    gap: 1.25rem;
  }
}

@media (min-width: 20em) and (max-width: 76.875em) {
@supports (padding-top: clamp( 2rem , 1.3406593407rem  +  3.2967032967vw , 3.875rem )) {
    .header__content {
      padding-top: clamp( 2rem , 1.3406593407rem  +  3.2967032967vw , 3.875rem );
    }
}

@supports not (padding-top: clamp( 2rem , 1.3406593407rem  +  3.2967032967vw , 3.875rem )) {
    .header__content {
      padding-top: calc(2rem + 1.875 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-bottom: clamp( 2rem , 1.3406593407rem  +  3.2967032967vw , 3.875rem )) {
    .header__content {
      padding-bottom: clamp( 2rem , 1.3406593407rem  +  3.2967032967vw , 3.875rem );
    }
}

@supports not (padding-bottom: clamp( 2rem , 1.3406593407rem  +  3.2967032967vw , 3.875rem )) {
    .header__content {
      padding-bottom: calc(2rem + 1.875 * (100vw - 20rem) / 56.875);
    }
}

@supports (gap: clamp( 4.375rem , 3.0343406593rem  +  6.7032967033vw , 8.1875rem )) {
    .header__content {
      gap: clamp( 4.375rem , 3.0343406593rem  +  6.7032967033vw , 8.1875rem );
    }
}

@supports not (gap: clamp( 4.375rem , 3.0343406593rem  +  6.7032967033vw , 8.1875rem )) {
    .header__content {
      gap: calc(4.375rem + 3.8125 * (100vw - 20rem) / 56.875);
    }
}

@supports (gap: clamp( 1.25rem , 0.4587912088rem  +  3.956043956vw , 3.5rem )) {
    .menu__list {
      gap: clamp( 1.25rem , 0.4587912088rem  +  3.956043956vw , 3.5rem );
    }
}

@supports not (gap: clamp( 1.25rem , 0.4587912088rem  +  3.956043956vw , 3.5rem )) {
    .menu__list {
      gap: calc(1.25rem + 2.25 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-top: clamp( 3.125rem , 2.4656593407rem  +  3.2967032967vw , 5rem )) {
    .footer__container {
      padding-top: clamp( 3.125rem , 2.4656593407rem  +  3.2967032967vw , 5rem );
    }
}

@supports not (padding-top: clamp( 3.125rem , 2.4656593407rem  +  3.2967032967vw , 5rem )) {
    .footer__container {
      padding-top: calc(3.125rem + 1.875 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-bottom: clamp( 1.4375rem , 0.9979395604rem  +  2.1978021978vw , 2.6875rem )) {
    .footer__container {
      padding-bottom: clamp( 1.4375rem , 0.9979395604rem  +  2.1978021978vw , 2.6875rem );
    }
}

@supports not (padding-bottom: clamp( 1.4375rem , 0.9979395604rem  +  2.1978021978vw , 2.6875rem )) {
    .footer__container {
      padding-bottom: calc(1.4375rem + 1.25 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-left: clamp( 0.0000000625rem , -5.6043955199rem  +  28.0219779121vw , 15.9375rem )) {
    .footer__page {
      margin-left: clamp( 0.0000000625rem , -5.6043955199rem  +  28.0219779121vw , 15.9375rem );
    }
}

@supports not (margin-left: clamp( 0.0000000625rem , -5.6043955199rem  +  28.0219779121vw , 15.9375rem )) {
    .footer__page {
      margin-left: calc(0.0000000625rem + 15.9374999375 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-left: clamp( 0.0000000625rem , -2.7692306848rem  +  13.8461537363vw , 7.875rem )) {
    .footer__product {
      margin-left: clamp( 0.0000000625rem , -2.7692306848rem  +  13.8461537363vw , 7.875rem );
    }
}

@supports not (margin-left: clamp( 0.0000000625rem , -2.7692306848rem  +  13.8461537363vw , 7.875rem )) {
    .footer__product {
      margin-left: calc(0.0000000625rem + 7.8749999375 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-left: clamp( 0.0000000625rem , -3.538461454rem  +  17.6923075824vw , 10.0625rem )) {
    .footer__follow {
      margin-left: clamp( 0.0000000625rem , -3.538461454rem  +  17.6923075824vw , 10.0625rem );
    }
}

@supports not (margin-left: clamp( 0.0000000625rem , -3.538461454rem  +  17.6923075824vw , 10.0625rem )) {
    .footer__follow {
      margin-left: calc(0.0000000625rem + 10.0624999375 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-top: clamp( 3.125rem , 2.4656593407rem  +  3.2967032967vw , 5rem )) {
    .footer__copyright {
      margin-top: clamp( 3.125rem , 2.4656593407rem  +  3.2967032967vw , 5rem );
    }
}

@supports not (margin-top: clamp( 3.125rem , 2.4656593407rem  +  3.2967032967vw , 5rem )) {
    .footer__copyright {
      margin-top: calc(3.125rem + 1.875 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-top: clamp( 7.5rem , 4.9725274725rem  +  12.6373626374vw , 14.6875rem )) {
    .main-block__content {
      margin-top: clamp( 7.5rem , 4.9725274725rem  +  12.6373626374vw , 14.6875rem );
    }
}

@supports not (margin-top: clamp( 7.5rem , 4.9725274725rem  +  12.6373626374vw , 14.6875rem )) {
    .main-block__content {
      margin-top: calc(7.5rem + 7.1875 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-top: clamp( 3.75rem , 2.4313186813rem  +  6.5934065934vw , 7.5rem )) {
    .check-block__content {
      padding-top: clamp( 3.75rem , 2.4313186813rem  +  6.5934065934vw , 7.5rem );
    }
}

@supports not (padding-top: clamp( 3.75rem , 2.4313186813rem  +  6.5934065934vw , 7.5rem )) {
    .check-block__content {
      padding-top: calc(3.75rem + 3.75 * (100vw - 20rem) / 56.875);
    }
}

@supports (font-size: clamp( 1.6875rem , 1.3138736264rem  +  1.8681318681vw , 2.75rem )) {
    .check-block__title {
      font-size: clamp( 1.6875rem , 1.3138736264rem  +  1.8681318681vw , 2.75rem );
    }
}

@supports not (font-size: clamp( 1.6875rem , 1.3138736264rem  +  1.8681318681vw , 2.75rem )) {
    .check-block__title {
      font-size: calc(1.6875rem + 1.0625 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-top: clamp( 2.5rem , 1.489010989rem  +  5.0549450549vw , 5.375rem )) {
    .catalog-block {
      margin-top: clamp( 2.5rem , 1.489010989rem  +  5.0549450549vw , 5.375rem );
    }
}

@supports not (margin-top: clamp( 2.5rem , 1.489010989rem  +  5.0549450549vw , 5.375rem )) {
    .catalog-block {
      margin-top: calc(2.5rem + 2.875 * (100vw - 20rem) / 56.875);
    }
}

@supports (font-size: clamp( 1.0625rem , 0.9965659341rem  +  0.3296703297vw , 1.25rem )) {
    .catalog-block__name {
      font-size: clamp( 1.0625rem , 0.9965659341rem  +  0.3296703297vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1.0625rem , 0.9965659341rem  +  0.3296703297vw , 1.25rem )) {
    .catalog-block__name {
      font-size: calc(1.0625rem + 0.1875 * (100vw - 20rem) / 56.875);
    }
}

@supports (font-size: clamp( 1.875rem , 1.5673076923rem  +  1.5384615385vw , 2.75rem )) {
    .choose-block__title {
      font-size: clamp( 1.875rem , 1.5673076923rem  +  1.5384615385vw , 2.75rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 1.5673076923rem  +  1.5384615385vw , 2.75rem )) {
    .choose-block__title {
      font-size: calc(1.875rem + 0.875 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-top: clamp( 1.875rem , 0.7760989011rem  +  5.4945054945vw , 5rem )) {
    .choose-block__categories {
      margin-top: clamp( 1.875rem , 0.7760989011rem  +  5.4945054945vw , 5rem );
    }
}

@supports not (margin-top: clamp( 1.875rem , 0.7760989011rem  +  5.4945054945vw , 5rem )) {
    .choose-block__categories {
      margin-top: calc(1.875rem + 3.125 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-top: clamp( 6.25rem , 3.6126373626rem  +  13.1868131868vw , 13.75rem )) {
    .featuring-block__content {
      padding-top: clamp( 6.25rem , 3.6126373626rem  +  13.1868131868vw , 13.75rem );
    }
}

@supports not (padding-top: clamp( 6.25rem , 3.6126373626rem  +  13.1868131868vw , 13.75rem )) {
    .featuring-block__content {
      padding-top: calc(6.25rem + 7.5 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-bottom: clamp( 5rem , 2.8021978022rem  +  10.989010989vw , 11.25rem )) {
    .featuring-block__content {
      padding-bottom: clamp( 5rem , 2.8021978022rem  +  10.989010989vw , 11.25rem );
    }
}

@supports not (padding-bottom: clamp( 5rem , 2.8021978022rem  +  10.989010989vw , 11.25rem )) {
    .featuring-block__content {
      padding-bottom: calc(5rem + 6.25 * (100vw - 20rem) / 56.875);
    }
}

@supports (font-size: clamp( 2.1875rem , 1.9896978022rem  +  0.989010989vw , 2.75rem )) {
    .featuring-block__title {
      font-size: clamp( 2.1875rem , 1.9896978022rem  +  0.989010989vw , 2.75rem );
    }
}

@supports not (font-size: clamp( 2.1875rem , 1.9896978022rem  +  0.989010989vw , 2.75rem )) {
    .featuring-block__title {
      font-size: calc(2.1875rem + 0.5625 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-top: clamp( 1.875rem , 0.885989011rem  +  4.9450549451vw , 4.6875rem )) {
    .elements-block {
      margin-top: clamp( 1.875rem , 0.885989011rem  +  4.9450549451vw , 4.6875rem );
    }
}

@supports not (margin-top: clamp( 1.875rem , 0.885989011rem  +  4.9450549451vw , 4.6875rem )) {
    .elements-block {
      margin-top: calc(1.875rem + 2.8125 * (100vw - 20rem) / 56.875);
    }
}

@supports (gap: clamp( 0.625rem , -1.7226923077rem  +  11.7384615385vw , 7.30125rem )) {
    .elements-block {
      gap: clamp( 0.625rem , -1.7226923077rem  +  11.7384615385vw , 7.30125rem );
    }
}

@supports not (gap: clamp( 0.625rem , -1.7226923077rem  +  11.7384615385vw , 7.30125rem )) {
    .elements-block {
      gap: calc(0.625rem + 6.67625 * (100vw - 20rem) / 56.875);
    }
}

@supports (gap: clamp( 3.75rem , 1.5521978022rem  +  10.989010989vw , 10rem )) {
    .elements-block__box1 {
      gap: clamp( 3.75rem , 1.5521978022rem  +  10.989010989vw , 10rem );
    }
}

@supports not (gap: clamp( 3.75rem , 1.5521978022rem  +  10.989010989vw , 10rem )) {
    .elements-block__box1 {
      gap: calc(3.75rem + 6.25 * (100vw - 20rem) / 56.875);
    }
}

@supports (gap: clamp( 3.75rem , 1.5521978022rem  +  10.989010989vw , 10rem )) {
    .elements-block__box2 {
      gap: clamp( 3.75rem , 1.5521978022rem  +  10.989010989vw , 10rem );
    }
}

@supports not (gap: clamp( 3.75rem , 1.5521978022rem  +  10.989010989vw , 10rem )) {
    .elements-block__box2 {
      gap: calc(3.75rem + 6.25 * (100vw - 20rem) / 56.875);
    }
}

@supports (font-size: clamp( 2.0625rem , 1.8207417582rem  +  1.2087912088vw , 2.75rem )) {
    .why-block__title {
      font-size: clamp( 2.0625rem , 1.8207417582rem  +  1.2087912088vw , 2.75rem );
    }
}

@supports not (font-size: clamp( 2.0625rem , 1.8207417582rem  +  1.2087912088vw , 2.75rem )) {
    .why-block__title {
      font-size: calc(2.0625rem + 0.6875 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-top: clamp( 4.375rem , 3.2760989011rem  +  5.4945054945vw , 7.5rem )) {
    .previews-block__content {
      padding-top: clamp( 4.375rem , 3.2760989011rem  +  5.4945054945vw , 7.5rem );
    }
}

@supports not (padding-top: clamp( 4.375rem , 3.2760989011rem  +  5.4945054945vw , 7.5rem )) {
    .previews-block__content {
      padding-top: calc(4.375rem + 3.125 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-bottom: clamp( 4.375rem , 3.2760989011rem  +  5.4945054945vw , 7.5rem )) {
    .previews-block__content {
      padding-bottom: clamp( 4.375rem , 3.2760989011rem  +  5.4945054945vw , 7.5rem );
    }
}

@supports not (padding-bottom: clamp( 4.375rem , 3.2760989011rem  +  5.4945054945vw , 7.5rem )) {
    .previews-block__content {
      padding-bottom: calc(4.375rem + 3.125 * (100vw - 20rem) / 56.875);
    }
}

@supports (font-size: clamp( 2.25rem , 2.0741758242rem  +  0.8791208791vw , 2.75rem )) {
    .previews-block__title {
      font-size: clamp( 2.25rem , 2.0741758242rem  +  0.8791208791vw , 2.75rem );
    }
}

@supports not (font-size: clamp( 2.25rem , 2.0741758242rem  +  0.8791208791vw , 2.75rem )) {
    .previews-block__title {
      font-size: calc(2.25rem + 0.5 * (100vw - 20rem) / 56.875);
    }
}

@supports (gap: clamp( 1.875rem , -0.677967033rem  +  12.7648351648vw , 9.135rem )) {
    .swiper-previews-slide {
      gap: clamp( 1.875rem , -0.677967033rem  +  12.7648351648vw , 9.135rem );
    }
}

@supports not (gap: clamp( 1.875rem , -0.677967033rem  +  12.7648351648vw , 9.135rem )) {
    .swiper-previews-slide {
      gap: calc(1.875rem + 7.26 * (100vw - 20rem) / 56.875);
    }
}

@supports (font-size: clamp( 1.125rem , 1.0370879121rem  +  0.4395604396vw , 1.375rem )) {
    .slide-swiper-previews__text {
      font-size: clamp( 1.125rem , 1.0370879121rem  +  0.4395604396vw , 1.375rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 1.0370879121rem  +  0.4395604396vw , 1.375rem )) {
    .slide-swiper-previews__text {
      font-size: calc(1.125rem + 0.25 * (100vw - 20rem) / 56.875);
    }
}

@supports (font-size: clamp( 1.375rem , 1.331043956rem  +  0.2197802198vw , 1.5rem )) {
    .slide-swiper-previews__name {
      font-size: clamp( 1.375rem , 1.331043956rem  +  0.2197802198vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1.375rem , 1.331043956rem  +  0.2197802198vw , 1.5rem )) {
    .slide-swiper-previews__name {
      font-size: calc(1.375rem + 0.125 * (100vw - 20rem) / 56.875);
    }
}

@supports (font-size: clamp( 1rem , 0.956043956rem  +  0.2197802198vw , 1.125rem )) {
    .slide-swiper-previews__position {
      font-size: clamp( 1rem , 0.956043956rem  +  0.2197802198vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.956043956rem  +  0.2197802198vw , 1.125rem )) {
    .slide-swiper-previews__position {
      font-size: calc(1rem + 0.125 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-top: clamp( 0.0000000625rem , -2.6373625529rem  +  13.1868130769vw , 7.5rem )) {
    .browse-block__content {
      padding-top: clamp( 0.0000000625rem , -2.6373625529rem  +  13.1868130769vw , 7.5rem );
    }
}

@supports not (padding-top: clamp( 0.0000000625rem , -2.6373625529rem  +  13.1868130769vw , 7.5rem )) {
    .browse-block__content {
      padding-top: calc(0.0000000625rem + 7.4999999375 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-bottom: clamp( 0.0000000625rem , -2.6373625529rem  +  13.1868130769vw , 7.5rem )) {
    .browse-block__content {
      padding-bottom: clamp( 0.0000000625rem , -2.6373625529rem  +  13.1868130769vw , 7.5rem );
    }
}

@supports not (padding-bottom: clamp( 0.0000000625rem , -2.6373625529rem  +  13.1868130769vw , 7.5rem )) {
    .browse-block__content {
      padding-bottom: calc(0.0000000625rem + 7.4999999375 * (100vw - 20rem) / 56.875);
    }
}

@supports (font-size: clamp( 2.0625rem , 1.8207417582rem  +  1.2087912088vw , 2.75rem )) {
    .browse-block__title {
      font-size: clamp( 2.0625rem , 1.8207417582rem  +  1.2087912088vw , 2.75rem );
    }
}

@supports not (font-size: clamp( 2.0625rem , 1.8207417582rem  +  1.2087912088vw , 2.75rem )) {
    .browse-block__title {
      font-size: calc(2.0625rem + 0.6875 * (100vw - 20rem) / 56.875);
    }
}

@supports (line-height: clamp( 3.1375rem , 2.7638736264rem  +  1.8681318681vw , 4.2rem )) {
    .browse-block__title {
      line-height: clamp( 3.1375rem , 2.7638736264rem  +  1.8681318681vw , 4.2rem );
    }
}

@supports not (line-height: clamp( 3.1375rem , 2.7638736264rem  +  1.8681318681vw , 4.2rem )) {
    .browse-block__title {
      line-height: calc(3.1375rem + 1.0625 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 1.2156593407rem  +  3.2967032967vw , 3.75rem )) {
    .browse-block__title {
      margin-bottom: clamp( 1.875rem , 1.2156593407rem  +  3.2967032967vw , 3.75rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.2156593407rem  +  3.2967032967vw , 3.75rem )) {
    .browse-block__title {
      margin-bottom: calc(1.875rem + 1.875 * (100vw - 20rem) / 56.875);
    }
}

@supports (width: clamp( 6.4375rem , 4.459478022rem  +  9.8901098901vw , 12.0625rem )) {
    .browse-block__actions img {
      width: clamp( 6.4375rem , 4.459478022rem  +  9.8901098901vw , 12.0625rem );
    }
}

@supports not (width: clamp( 6.4375rem , 4.459478022rem  +  9.8901098901vw , 12.0625rem )) {
    .browse-block__actions img {
      width: calc(6.4375rem + 5.625 * (100vw - 20rem) / 56.875);
    }
}

@supports (height: clamp( 2.9375rem , 2.7177197802rem  +  1.0989010989vw , 3.5625rem )) {
    .browse-block__actions img {
      height: clamp( 2.9375rem , 2.7177197802rem  +  1.0989010989vw , 3.5625rem );
    }
}

@supports not (height: clamp( 2.9375rem , 2.7177197802rem  +  1.0989010989vw , 3.5625rem )) {
    .browse-block__actions img {
      height: calc(2.9375rem + 0.625 * (100vw - 20rem) / 56.875);
    }
}
}

@media (max-width: 42em) and (min-width: 76.875em) {
  .choose-block__content {
    padding-top: 11.25rem;
  }
}

@media (max-width: 42em) and (min-width: 20em) and (max-width: 76.875em) {
@supports (padding-top: clamp( 4.375rem , 1.9574175824rem  +  12.0879120879vw , 11.25rem )) {
    .choose-block__content {
      padding-top: clamp( 4.375rem , 1.9574175824rem  +  12.0879120879vw , 11.25rem );
    }
}

@supports not (padding-top: clamp( 4.375rem , 1.9574175824rem  +  12.0879120879vw , 11.25rem )) {
    .choose-block__content {
      padding-top: calc(4.375rem + 6.875 * (100vw - 20rem) / 56.875);
    }
}
}

@media (min-width: 50em) and (min-width: 20em) and (max-width: 76.875em) {
@supports (gap: clamp( -3.125rem , -9.0590659341rem  +  29.6703296703vw , 13.75rem )) {
    .desc-block {
      gap: clamp( -3.125rem , -9.0590659341rem  +  29.6703296703vw , 13.75rem );
    }
}

@supports not (gap: clamp( -3.125rem , -9.0590659341rem  +  29.6703296703vw , 13.75rem )) {
    .desc-block {
      gap: calc(-3.125rem + 16.875 * (100vw - 20rem) / 56.875);
    }
}
}

@media (min-width: 50em) and (max-width: 20em) {
  .desc-block {
    gap: -3.125rem;
  }
}

@media (max-width: 68.125em) and (min-width: 76.875em) {
  .previews-block__swiper {
    margin-top: 6.8125rem;
  }

  .slide-swiper-previews__author {
    margin-top: 3.5rem;
  }
}

@media (max-width: 68.125em) and (min-width: 20em) and (max-width: 76.875em) {
@supports (margin-top: clamp( 2.5rem , 0.9835164835rem  +  7.5824175824vw , 6.8125rem )) {
    .previews-block__swiper {
      margin-top: clamp( 2.5rem , 0.9835164835rem  +  7.5824175824vw , 6.8125rem );
    }
}

@supports not (margin-top: clamp( 2.5rem , 0.9835164835rem  +  7.5824175824vw , 6.8125rem )) {
    .previews-block__swiper {
      margin-top: calc(2.5rem + 4.3125 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-top: clamp( 1.625rem , 0.9656593407rem  +  3.2967032967vw , 3.5rem )) {
    .slide-swiper-previews__author {
      margin-top: clamp( 1.625rem , 0.9656593407rem  +  3.2967032967vw , 3.5rem );
    }
}

@supports not (margin-top: clamp( 1.625rem , 0.9656593407rem  +  3.2967032967vw , 3.5rem )) {
    .slide-swiper-previews__author {
      margin-top: calc(1.625rem + 1.875 * (100vw - 20rem) / 56.875);
    }
}
}

@media (max-width: 33.8125em) and (min-width: 76.875em) {
  .swiper-previews__pagination {
    margin-left: 13.75rem;
  }
}

@media (max-width: 33.8125em) and (min-width: 20em) and (max-width: 76.875em) {
@supports (margin-left: clamp( 9.375rem , 7.8365384615rem  +  7.6923076923vw , 13.75rem )) {
    .swiper-previews__pagination {
      margin-left: clamp( 9.375rem , 7.8365384615rem  +  7.6923076923vw , 13.75rem );
    }
}

@supports not (margin-left: clamp( 9.375rem , 7.8365384615rem  +  7.6923076923vw , 13.75rem )) {
    .swiper-previews__pagination {
      margin-left: calc(9.375rem + 4.375 * (100vw - 20rem) / 56.875);
    }
}
}

@media (max-width: 33.75em) and (min-width: 76.875em) {
  .slide-swiper-previews__image img {
    width: 25.4375rem;
  }

  .slide-swiper-previews__image img {
    height: 21.3125rem;
  }
}

@media (max-width: 33.75em) and (min-width: 20em) and (max-width: 76.875em) {
@supports (width: clamp( 20.625rem , 18.9326923077rem  +  8.4615384615vw , 25.4375rem )) {
    .slide-swiper-previews__image img {
      width: clamp( 20.625rem , 18.9326923077rem  +  8.4615384615vw , 25.4375rem );
    }
}

@supports not (width: clamp( 20.625rem , 18.9326923077rem  +  8.4615384615vw , 25.4375rem )) {
    .slide-swiper-previews__image img {
      width: calc(20.625rem + 4.8125 * (100vw - 20rem) / 56.875);
    }
}

@supports (height: clamp( 14.375rem , 11.9354395604rem  +  12.1978021978vw , 21.3125rem )) {
    .slide-swiper-previews__image img {
      height: clamp( 14.375rem , 11.9354395604rem  +  12.1978021978vw , 21.3125rem );
    }
}

@supports not (height: clamp( 14.375rem , 11.9354395604rem  +  12.1978021978vw , 21.3125rem )) {
    .slide-swiper-previews__image img {
      height: calc(14.375rem + 6.9375 * (100vw - 20rem) / 56.875);
    }
}
}

@media (max-width: 38.75em) and (min-width: 76.875em) {
  .browse-block__image img {
    width: 38.75rem;
  }

  .browse-block__image img {
    height: 43.3125rem;
  }
}

@media (max-width: 38.75em) and (min-width: 20em) and (max-width: 76.875em) {
@supports (width: clamp( 20rem , 13.4065934066rem  +  32.967032967vw , 38.75rem )) {
    .browse-block__image img {
      width: clamp( 20rem , 13.4065934066rem  +  32.967032967vw , 38.75rem );
    }
}

@supports not (width: clamp( 20rem , 13.4065934066rem  +  32.967032967vw , 38.75rem )) {
    .browse-block__image img {
      width: calc(20rem + 18.75 * (100vw - 20rem) / 56.875);
    }
}

@supports (height: clamp( 24.375rem , 17.7156593407rem  +  33.2967032967vw , 43.3125rem )) {
    .browse-block__image img {
      height: clamp( 24.375rem , 17.7156593407rem  +  33.2967032967vw , 43.3125rem );
    }
}

@supports not (height: clamp( 24.375rem , 17.7156593407rem  +  33.2967032967vw , 43.3125rem )) {
    .browse-block__image img {
      height: calc(24.375rem + 18.9375 * (100vw - 20rem) / 56.875);
    }
}
}